{% extends 'base.html.twig' %}

{% block title %}Liste titres{% endblock %}

{% block body %}
    <div class="row text-center mt-3">
        <h1>Liste titres</h1>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Résumé</th>
                        <th>Réalisateur</th>
                        <th>Année</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for titre in titres %}
                        <tr>

                            <td>{{ titre.nom }}</td>
                            <td>{{ titre.contenu|slice(0,50) }}...</td>
                            <td>{{ titre.realisateur }}</td>
                            <td>{{ titre.anneeSortie }}</td>
                            <td>
                                <a class="btn btn-info" href="{{ path('app_media_details',{'id':titre.id}) }}" >Détails</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
